div, p {
  border: 1px solid red;
}

#wrapper {
  border: 5px solid green;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#rock {
  content: url('photos/rock.png');
  height: 100px;
  width: 100px;
}

#paper {
  content: url('photos/paper.png');
  height: 100px;
}

#scissors {
  content: url('photos/scissors.png');
  height: 100px;
}