#wrapper {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#upper_word {
  position: relative;
  width: 300px;
  margin-left: 50%;
  left: -150px;
  margin-top: 200px;
  margin-bottom: 50px;
  font-family: arial;
  font-size: 80px;
}

#rock {
  position: relative;
  content: url('photos/rock.png');
  height: 200px;
  margin-left: 50%;
  left: -420px;
  float: left;
}

#paper {
  position: relative;
  content: url('photos/paper.png');
  height: 200px;
  float: left;
  left: -300px;

}

#scissors {
  position: relative;
  content: url('photos/scissors.png');
  height: 200px;
  left: -180px;

}

#bottom_word {
  position: relative;
  width: 180px;
  margin-left: 50%;
  left: -90px;
  margin-top: 50px;
  font-family: arial;
  font-size: 80px;
}